/*###########################################################################
# Colors
#############################################################################*/


/*//////////////////////////////
/ General Colors
//////////////////////////////*/

// Primary colors
$primary-normal-blue: #064fe2;

// Primary Dark colors
$primary-dark-blue:   #415dfd;

// Primary Light colors
$primary-light-gray:  #d3d3d3;

// Normal colors
$normal-black: #000;


/*//////////////////////////////
/ Specific Colors
//////////////////////////////*/
