/*###########################################################################
# PROGRESS BAR
#############################################################################*/

// Container
.progress-bar-container {
   display: block;
   height: 7px;
   background-color: #ededed;
   border-radius: 10px;
   position: relative;
   padding: 0px 1px;
   flex-grow: 1;

  // Bar
  .progress-bar-content {
    position: absolute;
    background-color: #2778fd;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    height: 7px;
  }

  // Bar Percent
  @for $i from 1 through 100 {
    .bar-#{$i}-percent { 
      width: #{$i * 1%};
    }
  }

  // Bar Percent Completed
  .bar-100-percent {
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
  }
}

